    /*

Highway Template

https://templatemo.com/tm-520-highway

*/
    /* Add a thumb */
    .portfolio-item .thumb {
        position: relative;
    }

    .portfolio-item .image img {
        width: 466px;
        height: 360px;
        object-fit: cover;
        background-size: cover;
    }

    .grid-portfolio .portfolio-item {
        margin: 15px 0px;
    }
    
    .portfolio-item .hover-effect .hover-content {
        position: absolute;
        text-align: left;
        width: 100%;
        bottom: 5px;
        left: 0;
    }
    
    .grid-portfolio .portfolio-item h1 {
        position: relative;
        font-size: 22px;
        text-transform: uppercase;
        color: #fff;
        display: inline-block;
        padding-left: 20px;
        line-height: 15px;
        transform: translateY(25px);
        transition: .5s ease-in-out;
        letter-spacing: 0.5px;
    }
    
    .grid-portfolio .portfolio-item em {
        font-style: normal;
        font-weight: 200;
    }
    
    .grid-portfolio .portfolio-item:hover h1 {
        transform: translateY(0);
    }
    
    .grid-portfolio .portfolio-item p {
        padding-left: 20px;
        font-weight: 300!important;
        letter-spacing: 0.5px;
        font-size: 14px;
        color: #fff;
        opacity: 0;
        transform: translateY(10px);
        transition: .5s ease-in-out;
        text-transform: uppercase;
    }
    
    .grid-portfolio .portfolio-item:hover p {
        opacity: 1;
        transform: translateY(0);
    }
    
    .grid-portfolio .load-more-button {
        margin-top: 15px;
    }
    
    .grid-portfolio .load-more-button a {
        width: 100%;
        height: 80px;
        display: inline-block;
        text-align: center;
        line-height: 80px;
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        color: #fff;
        background-color: #313131;
        transition: all 0.5s;
    }
    
    .grid-portfolio .load-more-button a:hover {
        color: rgba(250, 250, 250, 0.5);
    }

    /*  */

    .service-portfolio {
        width: 100%;
        height: 800px;
        background-color: white;
    }

    .service-portfolio-item .thumb {
        position: relative;
    }

    .service-portfolio-item .image img {
        width: 420px;
        height: 360px;
        object-fit: cover;
        background-size: cover;
    }

    .service-portfolio .service-portfolio-item {
        margin: 15px 0px;
    }

    .service-portfolio .service-portfolio-item h1 {
        position: relative;
        font-size: 22px;
        text-transform: uppercase;
        color: #fff;
        display: inline-block;
        padding-left: 20px;
        line-height: 15px;
        letter-spacing: 0.5px;
        top: 350px;
    }
        