* {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
  outline: none;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-size: cover;
  background-image: linear-gradient(white, #fceed1);
  overflow-y: scroll;
}

/* Navigation Menu Styles */
header {
  width: 100%;
  display: table;
  background-color: #ffffff;
}

section {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  display: table;
  position: relative;
}

#logo {
  float: left;
  font-family: "Poppins";
  font-size: 22px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #df2935;
  font-weight: 700;
  padding: 20px 0px;
}

nav {
  width: auto;
  float: right;
}

nav ul {
  display: table;
  float: right;
}

nav ul li {
  float: left;
}

nav ul li:last-child {
  padding-right: 0px;
}

nav ul li a {
  color: #000000;
  font-size: 18px;
  padding: 25px 20px;
  display: inline-block;
  transition: all 0.5s ease 0s;
}

nav ul li a:hover {
  background-color: #df2935;
  color: #ffffff;
  transition: all 0.5s ease 0s;
}

.toggle-menu ul {
  display: table;
  width: 25px;
}

.toggle-menu ul li {
  width: 100%;
  height: 3px;
  background-color: #000000;
  margin-bottom: 4px;
}

.toggle-menu ul li:last-child {
  margin-bottom: 0px;
}

input[type="checkbox"],
label {
  display: none;
}

/* Header Image Styles */

.header_image {
  /* background-image: url('images/header_image.jpg'); */
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("images/header.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("images/header.jpg");
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header_text {
  background-color: #000;
}

.header_intro_text {
  position: absolute;
  top: 44%;
  left: 50%;
  font-size: large;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

.header_heading_text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 70px;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

.header_subtitle_text {
  position: absolute;
  top: 60%;
  left: 50%;
  font-size: large;
  transform: translate(-50%, -50%);
}

/* Introduction Overview Styles */

.intro {
  font-size: 20px;
  padding: 10px 30px 10px 30px;
  margin: 50px 50px;
}

.intro p {
  margin: 50px 100px;
  text-align: center;
  font-size: xx-large;
  font-weight: 100;
}

/* Amenities Images Styles */
.amenities {
  padding: 50px;
  background-color: white;
}

.amenities_three {
  display: flex;
}

.amenities_container {
  position: relative;
}

.amenities_images {
  display: block;
  margin: 30px;
  padding: 10px 6px;
  object-fit: cover;
}

.amenities_images img {
  border: 1px solid black;
  box-shadow: 0 0 20px 0 gray;
}

.amenities_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.amenities_images:hover .amenities_overlay {
  opacity: 1;
}

.amenities_text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* More Amenities Styles */

.home-image {
  margin-left: 3px;
  margin-top: 3px;
  border: 1px solid black;
  padding: 5px 5px 5px 5px;
  background: gray;
}

.split-left {
  width: 60%;
  left: 0;
  position: absolute;
  overflow-x: hidden;
}

.split-right {
  width: 45%;
  right: 0;
  margin: 20px 0px;
  position: absolute;
  overflow-x: hidden;
}

.list li {
  font-size: 24px;
}

.list p {
  margin-bottom: 10px;
}

/* Address and Contact Styles */


.last {
  display: flex;
  margin-bottom: 40px;
}

.dest {
  padding: 600px 60px 10px 60px;
  margin-left: 200px;
}

.vertical {
  border-left: 1px solid black;
  margin-top: 600px;
  height: 150px;
  position: absolute;
  left: 52%;
}

.contact {
  padding: 600px 60px 10px 60px;
  margin-left: 400px;
  margin-top: 20px;
}

/* Footer Styles */
.footer {
  background-color: white;
}

.black {
  background: black;
  overflow-x: hidden;
  color: white;
  font-size: 20px;
  display: flex;
  margin: 30px;
}

.home-book {
  padding: 5px 60px 1px 80px;
  border: 1px solid white;
  overflow-x: hidden;
}

#slide {
  border: 1px solid black;
  box-shadow: 0 0 20px #999999;
}

.contact-box {
  width: 580px;
  height: 420px;
  position: relative;
  margin: 6% auto;
  background: white;
  box-shadow: 0 0 10px black;
  padding: 5px;
  border-radius: 20px;
  overflow: hidden;
}
.input-field {
  padding: 10px 10px;
  margin: 5px 50;
  width: 70%;
  border-bottom: 1px solid #999;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  background: transparent;
  outline: none;
}
.class-btn {
  padding: 10px 30px;
  width: 40%;
  margin: auto;
  display: block;
  outline: none;
  border: 0;
  background: linear-gradient(to right, skyblue, skyblue);
  border-radius: 30px;
  cursor: pointer;
}
